# Ambiente virtual
.venv/
venv/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos do sistema
.DS_Store
Thumbs.db

# Configurações do VS Code
.vscode/

# Arquivos de ambiente
.env

# Cache do Streamlit
.streamlit/

# Arquivos temporários
*.log